.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px 150px;
}

.services-title{
    position: relative;
}

.services-title h1 {
    font-size: 68px;
    font-weight: 600;
    padding: 0px 30px;
}

.services-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 20px;
}

.services-pattern {
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
