.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 120px;
    padding: 20px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 18px;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
}

.nav-connect {
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1);
    cursor: pointer;
    font-size: 18px;
    color: white;
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
}